.nos_dest{
    width: 1000px;
    background-color:#ffffff;
    gap: 30px;
    margin: 0 auto;
    padding: 60px;
    display: flex;
    flex-direction: column;
    
    

}

.list_dest{
    width: 100%;
    background-color: rgba(9, 220, 150, 0);
    height: auto;
    
}

.title_dest{
    display: flex;
    gap: 30px;
    background-color: rgba(250, 235, 215, 0);
   
    
}

.text_dest h1{
    margin:0;
    font-weight: 200;
    font-size: 32px;
}
.text_dest p{
    margin:0;
    font-size: 16px;
}